.nav-overlay{
    position: fixed;
    top: 0;
    left: 100vw;
    right: 0;
    bottom: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-overlay.active{
    left: 0;
    bottom: 0;
}

.nav-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    width: 350px;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 10px;
    right: -350px;
    transition: .3s;
    overflow-y: scroll;
}

.nav-menu__header{
    width: 350px;
    height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
    display: flex;
    align-items: center;
}

.nav-menu__info{
    display: flex;
    align-items: center;
    color: #888;
    height: 100%;
}

.nav-menu__info svg{
    margin-right: 5px;
}

.nav-menu__info svg:hover{
    transform: none;
}

.nav-menu__header p{
    margin-left: 10px;
}


.nav-menu__close{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 5px;
    color: black;
}

.nav-menu.active{
    top: 10px;
    right: 10px;
    z-index: 5;
    transition: .3s;
}

.nav-menu__form{
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-menu__form--title{
    align-self: flex-start;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.nav-menu__input{
    width: 100%;
    height: 40px;
    color: #777;
    border-bottom: 1px solid black;
    font-size: 15px;
    margin-bottom: 20px;
}

.nav-menu__input:disabled{
    opacity: 0.7;
}

.nav-menu__input.uf{
    text-transform: uppercase;
}

.nav-menu__input:invalid{
    border-bottom: 1px solid crimson;
}

.nav-menu__input::placeholder{
    font-style: italic;
    text-transform: none;
}

.nav-menu__input--name{
    align-self: flex-start;
    margin-bottom: 5px;
}

.nav-menu__button{
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    margin-top: 25px;
    font-size: 15px;
}

.nav-menu__button.basket{
    width: 80%
}

.nav-menu__register{
    width: 80%;
    margin-top: 180px;
    font-size: 16px;
}

.nav-menu__button--switcher{
    cursor: pointer;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    background-color: #fff;
    border: .7px solid #333;
    margin-top: 2vh;
    font-size: 13px;
}

.nav-menu__input--register{
    width: 80%;
    align-self: flex-start;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-menu__input--register:first-child{
    margin-top: 5px;
}

.nav-menu__p--switcher{
    cursor: pointer;
    font-size: 12px;
    color: #444;
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 15px;
}

.show-password{
    cursor: pointer;
    position: absolute;
    top: 216px;
    right: 35px;
    z-index: 5;
}

.show-repeatPassword{
    cursor: pointer;
    position: absolute;
    top: 280px;
    right: 35px;
    z-index: 5;
}

.show-password--login{
    cursor: pointer;
    position: absolute;
    top: 276px;
    right: 35px;
    z-index: 5;
}

.invalid{
    border-bottom: 1px solid crimson;
}

.invalid::placeholder{
    color: crimson;
    opacity: 0.6;
}

.error-message{
    font-size: 14px;
    margin-top: 10px;
    color: crimson;
}

.nav-menu__welcome{
    cursor: pointer;
    margin-right: 5px;
}

.nav-menu__suggestions--title{
    margin-top: 15px;
}

.nav-menu__product{
    position: relative;
    width: 90%;
    height: 80px;
    display: flex;
    margin-top: 15px;
    transform: none;
    transition: all .6s;
}

.nav-menu__product.hidden{
    transform: translateX(350px);
    opacity: 0;
}

.nav-menu__product svg{
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
}

.nav-menu__product--image{
    width: 20%;
    height: 80px;
    margin-right: 20px;
}

.nav-menu__product--info{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.product--specifics{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 12px;
    color: #aaa;
}
.product--name{
    color: #aaa;
    font-size: 12px;
    margin-bottom: 5px;
}

.product--numbers{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.black{
    color: black;
}

.product--operators{
    width: 15%;
    display: flex;
    justify-content: space-between;
    color: #aaa;
}

.product--operators p{
    padding: 4px 0px;
    margin: 0px 7px;
}

.product--operators div:last-child{
    cursor: pointer;
    padding: 4px 6px;
    transition: .2s;
}

.product--operators div:hover{
    background-color: #111;
    color: #fff;
}

.product--operators div:first-child{
    cursor: pointer;
    padding: 4px 6px;
}

.footer.active{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .5px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    bottom: 70px;
    left: calc(100vw - 360px);
    width: 350px;
    height: 40px;
    padding: 30px 20px;
    transition: .3s;
}

.checkout.active{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    bottom: 10px;
    right: 10px;
    width: 350px;
    height: 60px;
    transition: .3s;
}

.checkout.active:hover{
    cursor: pointer;
    height: 63px;
    transform: translateY(-3px);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    text-shadow: 0px 2px 4px #fff;
}

.checkout.active:active{
    cursor: pointer;
    height: 60px;
    transform: translateY(0);
    text-shadow: 0px 2px 4px #fff;
}


.checkout{
    bottom: -30px;
    right: -350px;
}

.footer{
    bottom: -40px;
    left: calc(100vw + 350px);
}

.error-container{
    display: flex;
    margin-top: 20px;
    height: calc(100vh - 500px);
    font-size: 30px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-container p {
    font-size: 24px;
    margin-bottom: 30px;
}

@media (max-width: 850px){
    .nav-menu{
        top: 0;
        height: 100vh;
    }
    .nav-menu.active{
        height: 100vh;
        top: 0;
        right: 0;
    }
    .checkout.active{
        bottom: 0px;
        right: 0px;
    }
    .footer.active{
        bottom: 60px;
        left: calc(100vw - 350px);
    }
}
.products-container{
  min-height: calc(100vh - 180px);
  margin: 0px 0px 130px 30px;
  overflow-y: scroll;  
}

@media(max-width: 600px){
    .nav-menu__product svg{
        cursor: pointer;
        position: absolute;
        top: 6px;
        right: -20px;
    }
}

@media (max-height: 800px) {
    .nav-menu__register{
        margin-top: 100px;
    }

    .nav-menu__button--switcher{
        height: 50px;
        margin-bottom: 30px;
    }
}